# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. C++

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. Pytorch
3. SciPy
4. NumPy

|Data Science Tools|
|----|
|R Studio|
|Apache Hadoop|
|Jupyter NotebooK|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives:__
* Create a markdown cell with a table of Data Science tools
* Create a code cell to multiply and add numbers
* List popular languages for Data Science

## Author
Javier lara